
main {
    text-align: center;
}
#profile:hover{
    transform: scale(1.1);
}
#language-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;
}
img {
    width: 100%;
}
#profile{
    width: 300px;
    border-radius: 50%;
}